<label 
  [for]="identifier()" 
  >
    {{label()}}
</label>
<div class="relative">
    <i [class]="fontAwesomeIcon()" class="icon"></i>
    <input 
      [type]="type()" 
      [id]="identifier()" 
      [name]="identifier()" 
      [placeholder]="placeholder()" 
      [formControl]="this.control!" 
      [class.pristine-input]="!this.control.touched" 
      [class.invalid-input]="this.control.touched && !isValidField()"
      [class.valid-input]="this.control.touched && isValidField()"
      [ngClass]="{
        '!pe-9': inputType() === 'password',
        '!pe-15': inputType() === 'password' && this.control.touched
      }"
    />
    @if(inputType() === 'password'){
      @if (statePassword()) {
        <i class="fa-solid fa-eye-slash icon-password" 
           (click)="hiddenPassword()"
            [ngClass]="{
              'right-3': !this.control.touched,
              'right-9': this.control.touched
            }"
           >
        </i>
      }@else{
        <i class="fa-solid fa-eye icon-password" 
           (click)="showPassword()"
           [ngClass]="{
            'right-3': !this.control.touched,
            'right-9': this.control.touched
          }" 
           >
        </i>
      }
    }

    @if(this.control.touched && this.isValidField()) {
        <i 
            [@validationIcon]="this.control.touched && this.isValidField() ? 'visible' : 'hidden' "
            class="fa-solid fa-circle-check valid-icon" 
            >
        </i>
    }@else if(this.control.touched && !this.isValidField()) {
        <i 
            [@validationIcon]="this.control.touched && !this.isValidField() ? 'visible' : 'hidden' "
            class="fa-solid fa-circle-exclamation invalid-icon"
            >
        </i>
    }
</div>
<p 
  [@validationMessage]="showMessage() ? 'visible' : 'hidden' "
  [class.pristine-message]="!this.control.touched || this.control.touched && isValidField() && this.successMessage() === ''"
  [class.invalid-message]="this.control.touched && !isValidField()"
  [class.valid-message]="this.control.touched && isValidField() && this.successMessage()"
  >
  {{ delayedMessage() }}
</p>
