<div class="flex items-start gap-2">
    <div class="flex items-center h-5">
      <input  
      type="checkbox" 
      [formControl]="this.control!" 
      [id]="identifier()" 
      [name]="identifier()"
      >
    </div>
    <div class="text-sm">
      <label [for]="identifier()" >
        {{label() | translate}}
      </label>
      <p 
          [@validationMessage]="showMessage() ? 'visible' : 'hidden' "
          [class.untouched-message]="!this.control.touched || this.control.touched && status() === 'VALID' && this.successMessage() === ''"
          [class.invalid-message]="this.control.touched && status() === 'INVALID'"
          [class.valid-message]="this.control.touched && status() === 'VALID' && this.successMessage() != ''"
          [innerHTML]="delayedMessage()"
        >    
      </p>
    </div>
</div>
