<div class="min-h-screen flex flex-col relative">
    <layout-navbar class="w-full"/>
    <div class="bg-primary-50 flex-1 flex min-h-0">
        <!-- Sidebar -->
        <layout-sidebar 
            class="absolute inset-y-0 left-0 lg:block lg:relative"
            [class.hidden]="!this.sidebarStateService.isOpen() && this.sidebarStateService.animationPhase() === 'close'"
            [class.z-30]="!this.sidebarStateService.isLargeScreen() || this.sidebarStateService.openPopoverMenuLists().size > 0"
        />
        
        <!-- Overlay that appears behind the sidebar on small screens -->
        <div 
            class="fixed inset-0 bg-gray-900 z-20 lg:hidden"
            [@overlayAnimation]="overlayState()"
            (click)="sidebarStateService.requestClose()"
        ></div>
        
        <!-- Main content -->
        <div class="flex-1 relative">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>