<aside 
    [@sidebarAnimation]="sidebarState.isSidebarActiveDelayed() ? 'expanded' : 'collapsed'"
    class="min-h-full text-white p-4 flex flex-col bg-white min-w-0 rounded-lg border-t-2 border-b-2 border-primary-100"
>
    <!-- Menu Items -->
    <nav class="flex flex-col gap-3">
        
        <menu-item link="/bosses">
            <i menu-item-icon class="fa-solid fa-user"></i>
            <span menu-item-title>Jefes</span>
        </menu-item>


        <menu-list>
            <i menu-item-icon class="fa-solid fa-store"></i>
            <span menu-item-title>Sucursales</span>
            <span menu-item-popover-title>Sucursales</span>

            <ng-template #menuListItemsContainer>
                <menu-list-item link="/branches1">
                    <span menu-item-title>Lista de sucursales</span>
                </menu-list-item>
    
                <menu-list-item link="/branches2">
                    <span menu-item-title>Nueva sucursal</span>
                </menu-list-item>
            </ng-template>
        </menu-list>

        <menu-list>
            <i menu-item-icon class="fa-solid fa-building"></i>
            <span menu-item-title>Sucursales</span>
            <span menu-item-popover-title>Sucursales</span>

            <ng-template #menuListItemsContainer>
                <menu-list-item link="/branches1">
                    <span menu-item-title>Lista de sucursales</span>
                </menu-list-item>
    
                <menu-list-item link="/branches2">
                    <span menu-item-title>Nueva sucursal</span>
                </menu-list-item>
            </ng-template>
        </menu-list>

        <menu-item link="/businesses">
            <i menu-item-icon class="fa-solid fa-building"></i>
            <span menu-item-title>Empresas</span>
        </menu-item>

    </nav>
</aside>