/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";
@plugin "flowbite/plugin";
@source "../node_modules/flowbite";
@custom-variant dark (&:where(.dark, .dark *));

@font-face {
  font-family: typography-primary;
  src: url("../public/assets/fonts/Inter/Inter-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: typography-primary;
  src: url("../public/assets/fonts/Inter/Inter-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: typography-primary;
  src: url("../public/assets/fonts/Inter/Inter-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: typography-primary;
  src: url("../public/assets/fonts/Inter/Inter-ExtraBold.ttf")
    format("truetype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: typography-primary;
  src: url("../public/assets/fonts/Inter/Inter-ExtraLight.ttf")
    format("truetype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: typography-primary;
  src: url("../public/assets/fonts/Inter/Inter-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: typography-primary;
  src: url("../public/assets/fonts/Inter/Inter-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: typography-primary;
  src: url("../public/assets/fonts/Inter/Inter-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}

h1 {
  @apply text-6xl font-bold;
}

h2 {
  @apply text-6xl font-semibold;
}

h3 {
  @apply text-5xl font-semibold;
}

h4 {
  @apply text-4xl font-semibold;
}

h5 {
  @apply text-3xl font-medium;
}

h6 {
  @apply text-2xl font-medium;
}

@utility color-scheme-dark {
  color-scheme: dark;
}

@theme {
  --font-primary: typography-primary, monospace;

  --color-primary-50: #faf4ff;
  --color-primary-100: #f2e5ff;
  --color-primary-200: #dac0fe;
  --color-primary-300: #c194fe;
  --color-primary-400: #a664ff;
  --color-primary-500: #8424ff;
  --color-primary-600: #7500fd;
  --color-primary-700: #7500fd;
  --color-primary-800: #6800f7;
  --color-primary-900: #5400ef;

  --color-secondary-50: #eff6ff;
  --color-secondary-100: #dbeafe;
  --color-secondary-200: #bfdbfe;
  --color-secondary-300: #93c5fd;
  --color-secondary-400: #60a5fa;
  --color-secondary-500: #3b82f6;
  --color-secondary-600: #2563eb;
  --color-secondary-700: #1d4ed8;
  --color-secondary-800: #1e40af;
  --color-secondary-900: #1e3a8a;

  --color-neutral-50: #d9d9d9;
  --color-neutral-100: #fafbfd;
  --color-neutral-200: #eaecf0;
  --color-neutral-300: #d0d5dd;
  --color-neutral-400: #98a2b3;
  --color-neutral-500: #667085;
  --color-neutral-600: #475467;
  --color-neutral-700: #344054;
  --color-neutral-800: #1d2939;
  --color-neutral-900: #101828;

  --color-success-50: #f0fdf4;
  --color-success-100: #dcfce7;
  --color-success-200: #bbf7d0;
  --color-success-300: #86efac;
  --color-success-400: #4ade80;
  --color-success-500: #22c55e;
  --color-success-600: #16a34a;
  --color-success-700: #15803d;
  --color-success-800: #166534;
  --color-success-900: #14532d;

  --color-info-50: #eff6ff;
  --color-info-100: #dbeafe;
  --color-info-200: #bfdbfe;
  --color-info-300: #93c5fd;
  --color-info-400: #60a5fa;
  --color-info-500: #3b82f6;
  --color-info-600: #2563eb;
  --color-info-700: #1d4ed8;
  --color-info-800: #1e40af;
  --color-info-900: #1e3a8a;

  --color-warning-50: #fefce8;
  --color-warning-100: #fef9c3;
  --color-warning-200: #fef08a;
  --color-warning-300: #fde047;
  --color-warning-400: #facc15;
  --color-warning-500: #eab308;
  --color-warning-600: #ca8a04;
  --color-warning-700: #a16207;
  --color-warning-800: #854d0e;
  --color-warning-900: #713f12;

  --color-error-50: #fef2f2;
  --color-error-100: #fee2e2;
  --color-error-200: #fecaca;
  --color-error-300: #fca5a5;
  --color-error-400: #f87171;
  --color-error-500: #ef4444;
  --color-error-600: #dc2626;
  --color-error-700: #b91c1c;
  --color-error-800: #991b1b;
  --color-error-900: #7f1d1d;
}

@layer components {
  .btn {
    @apply w-full focus:ring-2 focus:outline-none font-medium rounded-lg text-sm px-5 py-2.5 text-center;
  }

  .btn-primary {
    @apply text-white bg-primary-600 hover:bg-primary-700  focus:ring-primary-300  dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800;
  }

  .btn-primary:disabled {
    @apply bg-primary-400 cursor-not-allowed opacity-50;
  }

  .btn-error {
    @apply text-white bg-error-600 hover:bg-error-700  focus:ring-error-300  dark:bg-error-600 dark:hover:bg-error-700 dark:focus:ring-error-800;
  }

  .btn-error:disabled {
    @apply bg-error-400 cursor-not-allowed opacity-50;
  }

  /* alerts */
  .alert {
    @apply z-50 p-4 border rounded-lg;
  }

  .alert-status {
    @apply fixed right-4 bottom-4 w-full max-w-xs mb-2;
  }

  .alert-error {
    @apply text-error-800 border-error-300 bg-error-50 dark:bg-neutral-800 dark:text-error-400 dark:border-error-800;
  }
}

